.md, .ios {
  page-enter-username {
    .form-container {
      margin: 0 auto;
    }

    .row.underlined-field, .item.underlined-field {
      margin: 0 auto;
    }

    .submit-button {
      margin-top: 10%
    }

  }
}
