<ion-header>
  <ion-navbar>
    <ion-title align="center">
      <ion-icon name="ai-security"></ion-icon>
       <!--{{ 'Change Password' | translate }}-->
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="changePasswordForm">
    <ion-list no-lines>
      <ion-item text-center="">
        <h2 text-wrap="">{{ 'Change your password' | translate }}</h2>
      </ion-item>

      <ion-item class="underlined-field field-dark">
        <ion-input placeholder="{{ 'Enter new password' | translate }} " formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!changePasswordForm.controls.password.valid && (changePasswordForm.controls.password.dirty || submitAttempt)">
        <p class="error">{{ 'Please enter a valid password' | translate }}.</p>
      </div>

      <ion-item class="underlined-field field-dark">
        <ion-input formControlName="confirmPassword" type="password" placeholder=" {{ 'Repeat new password' | translate }}"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="(!changePasswordForm.controls.confirmPassword.valid && (changePasswordForm.controls.confirmPassword.dirty || submitAttempt))
      || (changePasswordForm.controls.confirmPassword.valid && (changePasswordForm.controls.password.value !== changePasswordForm.controls.confirmPassword.value))">
        <p class="error"> {{ 'Password does not mactch' | translate }}.</p>
      </div>
      <div style="margin-bottom: 20%;"></div>

      <button ion-button block round color="primary" (click)="changePassword()"> {{ 'Change Password' | translate }}</button>

    </ion-list>
  </form>
</ion-content>
