page-reset-password {


        .toolbar-md {
    /* padding: 4px; */
    min-height: 36px;
    margin: 0px 0px 0px 0;
    padding: 0;
}
.toolbar-ios {
    /* padding: 4px; */
    min-height: 36px;
    margin: 0px 0px 0px 0;
    padding: 0;
}

}
